:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 60%;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --gray: rgb(165, 165, 165);
    --content: rgb(30, 30, 30);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --darkcolor: rgba(162, 139, 253, 0.641);
    --lightcolor: #cbd1de;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
}

/* .dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
} */

.dark {
    --theme: rgb(40, 42, 54);       /* #282A36 - Background base: Dark grayish purple */
    --entry: rgba(76, 68, 90, 0.28);       /* #44475A - Secondary background: Slightly lighter */
    --primary: rgb(248, 248, 242);  /* #F8F8F2 - Primary text: Off-white */
    --secondary: rgba(164, 150, 220, 0.89); /* #6272A4 - Secondary text: Muted blue */
    --tertiary: rgba(162, 139, 253, 0.463); /* #8BE9FD - Accent color: Light cyan */
    --content: rgb(191, 191, 191);   /* #50FA7B - Accent: Bright green */
    --hljs-bg: rgb(40, 42, 54);     /* #282A36 - Syntax highlight background */
    --code-bg: rgba(162, 139, 253, 0.118);     /* #44475A - Code block background */
    --border: rgba(162, 139, 253, 0.055);    /* #6272A4 - Borders */
    --border-light: rgba(162, 139, 253, 0.445);
    --linebreak: rgb(161, 161, 161);
}


.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}

strong, b {
  font-weight: 600;
}