.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    background: var(--primary);
}
/* 
.nav a {
    display: block;
} */

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}


.logo {
    flex-wrap: inherit;
}

.logo a {
    color: var(--tertiary); 
    font-size: var(--headersize);
    font-weight: var(--semibold);
}

.logo a img, .logo a svg {
    max-width: 16px;
    max-height: 16px;
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 20px;
    margin: auto 4px;
    color: white;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    color: var(--tertiary); 
    font-size: var(--headersize);
    font-weight: var(--semibold);
    font-variant: all-small-caps;
}

#menu .active {
    border-bottom: 2px solid var(--tertiary);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
/* 
.logo a, #menu a {
    
} */