.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 8;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 2px solid var(--border);
}

.post-entry:hover {
     /* border: 2px solid var(--darkcolor); */
     border: 2px solid var(--border-light);
}

.tag-entry .entry-cover {
    display: none;
}




.entry-content {
    margin: 20px 10px;
    color: var(--content);
    font-size: var(--entrysize);
    line-height: var(--lineheight);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}


.entry-footer {
    color: var(--text-color-3);
    font-size: var(--entrysize);
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-hint {
    color: var(--secondary);
    /* color: red */
}

.entry-hint-parent {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-2);
}

.entry-cover {
    font-size: var(--entrysize);
    margin-bottom: var(--gap);
    text-align: center;

}

.entry-cover img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
}

.entry-cover a {
    color: var(--main-color-0);
    box-shadow: 0 1px 0 var(--main-color-2);
}



.entry-header .entry-content .tag-entry h2 h1 h3 {
    font-size: 12px;
    line-height: var(--lineheight);
    color: red;
}
