.buttons,
.main .profile {
    display: flex;
    justify-content: left;
}
.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--footer-height) - (var(--gap) * 2));
    font-size: var(--homesize);
    line-height: var(--lineheight);
    padding: var(--gap);
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--profile-inner);
}

.profile .profile_inner h1 {
    font-size: 2.5rem;
    color: var(--tertiary);
    font-weight: 600
    /* text-transform: uppercase; */

}
.profile .profile_inner  h4 {
    color: var(--secondary);
    /* font-style: oblique; */
    /* text-transform: uppercase; */
    font-weight: 600;
}

.profile .profile_inner  h5 {
    color: var(--content);
    /* text-transform: uppercase; */
    /* font-size: 0.8rem; */
    font-weight: 400;
}

.profile img {
    border-radius: 8%;
    border: 1.2px solid var(--primary-hover);
    width: 170px;
    max-width: 100%;
    aspect-ratio: 1 / 1;   /* modern way to keep square shape */
    height: auto;
    object-fit: cover;
    display: block;
}

.social-icons a {
    color: var(--secondary-hover);
    display: inline-flex;
    padding: 8px 14px 8px 0px;
}
.social-icons a:hover {
    /* background:  */
    color: var(--tertiary);
    display: inline-flex;
    padding: 8px 14px 8px 0px;
}

.buttons {
    flex-wrap: wrap;
}

.button {
    /* background: var(--prisecondarymary-hover); */
    border-color: var(--secondary-hover);
    border-width: 2px;
    border-style: solid;
    border-radius: 40px;
    margin: 6px 12px 6px 0px;
    padding: 8px;
}

.button-inner {
    padding: 0 8px;
    font-weight: 400;                                   /* semi-bold */
    font-size: 1.1rem;                                  /* slightly larger */
    letter-spacing: 0.04em;                             /* gentle spacing */
    /* color: var(--text-color-2); */
    text-transform: uppercase;
    color: var(--tertiary-hover);
}

.button:hover {
    background: var(--secondary);
    border-color: var(--tertiary);
}


.button-inner:hover {
    color: var(--tertiary);
}